.gradient-border-label-container {
  border-radius: 99px;
  background: radial-gradient(circle, #f8475e 0%, #963d7f 25%, #b42dd0 43%, #d226d0 63%, #e12b3a 84%, #6821ff 100%);
  background-color: #fff;
}

/* .gradient-border-badge {
  border-image: linear-gradient(90deg, #33b6ff 0%, #006acc 50%, #4c89ff 100%);
  border-image-slice: 1;
  border-radius: 10px !important;
  border: 2px solid transparent;
} */

/* .gradient-border-badge {
  position: relative;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 10px;
  z-index: 1;
  display: inline-block;
}

.gradient-border-badge::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: linear-gradient(90deg, #33b6ff 0%, #006acc 50%, #4c89ff 100%);
  border-radius: 14px;
  z-index: -1;
  pointer-events: none;
} */

.circle-pulse {
  background: url('https://cdn.prod.website-files.com/67014e966ac70f4e8a365764/674a4e8cf44d887873f550ff_Group%2029.png');
  background-size: cover;
  background-position: center;

  /* Apply a gradient transparency mask */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;

  mask-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0));
  mask-size: 100% 100%;
  mask-repeat: no-repeat;

  /* Ensure transparency actually works */
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.circle-pulse::before {
  /* White gradient overlay */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* White gradient (from top to bottom) */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 1));

  /* Layering */
  z-index: 2; /* Ensure it sits above the image */
  pointer-events: none; /* Allow interaction with the element below */
}

.primary-heading {
  display: inline-block;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.01), #333333);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.primary-heading.light {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.005), #ffffff);
  background-clip: text;
}

.heading-highlight {
  background: linear-gradient(235deg, #8636f8 2%, #f020b3 35%, #f8475e 67%, #ff9421 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.8;
}
